body {
  background-color: rgb(177, 211, 238);
  font-family: 'Ubuntu', sans-serif;
}

.msj-bienv {
  font-size: 30px;
  text-shadow: 0px 0px 5px white;
}

.msj-bienv p {
  background-color: rgba(255, 255, 255, 0.603);
  padding: 8px;
}

.dropdown-toggle {
  color: #707071;
}

.contenido-central {
  margin-bottom: 90px;
}

.primer-titulo-pagina {
  background-color: rgba(255, 255, 255, 0.356);
  margin: 50px 0;
}

.primer-titulo-pagina h3 {
  background-color: inherit;
}

h2{
  color: #00000085;
  font-size: 1.2rem;
}

h3 {
  background-color: #ffffffde;
  margin-bottom: 40px;
}


.tab-content {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.521);
}

.tab-pane p {
  padding: 0 50px;
}

/* EJERCICIO 5 TP1*/
.altura-caja .row {
  margin: 10px 0;
  height: 150px;
}

.caja-blanca-ej5y6 {
  background: rgba(255, 255, 255, 0.753);
}

/* EJERCICIO 6 TP1*/
.contenido_ej6tp1 h4 {
  font-weight: 400;
}

/* EJERCICIO 8 TP1*/
.contenido_ej8tp1 .row h4 {
  margin-top: 8px;
}

.contenido_ej8tp1 .row p {
  padding: 8px;
}

/* EJERCICIO 9 TP1 */
.contenido_ej9tp1 .color-header {
  background-color: rgb(116, 224, 106);

}

.contenido_ej9tp1 .color-uno {
  background-color: rgb(235, 90, 90);
  text-align: center;
  height: 150px;
}

.contenido_ej9tp1 .color-dos {
  background-color: rgb(235, 90, 90);
  text-align: center;
  height: 150px;
}

.contenido_ej9tp1 .color-tres {
  background-color: rgb(235, 90, 90);
  text-align: center;
  height: 150px;
}

.contenido_ej9tp1 .color-footer-uno {
  background-color: rgb(235, 233, 90);
  text-align: right;
}

.contenido_ej9tp1 .color-footer-dos {
  background-color: rgb(235, 233, 90);
}

/* RESPONSIVE MEDIA-QUERY*/
/* PANTALLA MD */
@media (max-width: 992px) {
  .contenido_ej9tp1 .color-header {
      background-color: rgb(106, 210, 224);

  }

  .contenido_ej9tp1 .color-uno {
      text-align: left;
  }

  .contenido_ej9tp1 .color-dos {
      text-align: right;
  }

  .contenido_ej9tp1 .color-footer-uno {
      text-align: center;
  }

  .contenido_ej9tp1 .color-footer-dos {
      text-align: center;
  }

  .contenido_ej9tp1 .color-tres {
      background-color: rgb(116, 224, 106);
  }
}


/* PANTALLA SM (menor a 719px)*/
@media (max-width: 719px) {
  .contenido_ej9tp1 .color-header {
      background-color: rgb(224, 177, 106);
      text-align: center;
  }

  .contenido_ej9tp1 .color-dos {
      background-color: rgb(106, 210, 224);
      text-align: center;
  }

  .contenido_ej9tp1 .color-tres {
      background-color: rgb(235, 90, 90);
      text-align: right;
  }
}

/* EJERCICIO 10 TP1 */

.contenido_ej10tp1 .cuadrado {
  height: 90px;
}

.contenido_ej10tp1 .cuadrado p {
  font-size: 2em;
}

.contenido_ej10tp1 .rectangulo p {
  font-size: 1.5em;
}

.contenido_ej10tp1 .rect-verde {
  background-color: rgb(97, 209, 103);
}

.contenido_ej10tp1 .rect-cel {
  background-color: rgb(97, 196, 209);
}

.contenido_ej10tp1 .cuadrado-azul {
  background-color: rgb(79, 105, 255);
}

.contenido_ej10tp1 .cuadrado-gris {
  background-color: rgb(192, 192, 192);
}

.contenido_ej10tp1 .cuadrado-nar {
  background-color: rgb(216, 167, 76);
}

/* EJERCICIO 11 TP1*/

.contenido_ej11tp1 a.nav-link.active {
  background-color: rgb(134 201 255);
}

.img-miniaturas {
  /* background-color: rgba(255, 255, 255, 0.521); */
  background-color: rgb(149 149 149 / 52%);
}

.fondo-subtitulo-cuadro {
  background-color: rgba(255, 255, 255, 0.795);
}

.fondo-parrafo-cuadro {
  /* background-color: rgb(134 201 255); */
  background-color: rgb(205 229 109 / 38%);
  padding: 20px;
}

.fondo-lista-cuadro {
  background-color: rgb(255, 255, 255);
}

.fondo-img-grande {
  background-color: rgba(255, 255, 255, 0.521);
}

.img-grande {
  margin-bottom: 50px;
}

.fondo-tabla {
  background-color: rgb(134 201 255);
}

.fondo-parrafo-final {
  background-color: rgb(209, 234, 255);
}

/* estilos para el carrusel de imagenes */
.carousel-item {
  height: 100vh;
}

/* change transition duration to control the speed of fade effect */
.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-item img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-position: center;
  object-fit: cover;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 200px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  padding: 25px 5px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px #fff;
}

.carousel-caption p {
  font-size: 1.2em;
  margin-top: 30px;
  font-weight: 100;
}

.activ {
  color: #ffffff;
  font-weight: bold;
  background-color: rgb(134 201 255);
  border-color: #dee2e6 #00dcff #fff;
  text-shadow: 0px 0px 3px #000;
}

.activ:hover {
  color: #ffffff;
}

/* Base class */
.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid rgb(104, 5, 5);
  border-left-width: .25rem;
  border-radius: .25rem
}

/* Modifier classes */
.callout-info {
  border-left-color: rgb(70, 217, 228);
}

.callout-warning {
  border-left-color: #f0ad4e
}

.callout-danger {
  border-left-color: #d9534f;
}

.font_cinzel {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Martel', serif;
  font-size: 20px;
  color: #1d1b1b;
}

.cinzel {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Martel', serif;
  text-shadow: #1d1b1b;
}