body {
  background-color: rgb(177, 211, 238);
}

main {
  background-image: url(https://images.pexels.com/photos/2803158/pexels-photo-2803158.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.msj-bienv {
  font-size: 30px;
  text-shadow: 0px 0px 5px white;
}

.msj-bienv p {
  background-color: rgba(255, 255, 255, 0.603);
  padding: 8px;
}

.dropdown-toggle {
  color: #707071;
}

.contenido-central {
  margin-bottom: 90px;
}

.primer-titulo-pagina {
  background-color: rgba(255, 255, 255, 0.356);
  margin: 50px 0;
}

.primer-titulo-pagina h3 {
  background-color: inherit;
}

h3 {
  background-color: #ffffffde;
  margin-bottom: 40px;
}


.tab-content {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.521);
}

.tab-pane p {
  padding: 0 50px;
}

/* EJERCICIO 5 */
.altura-caja .row {
  margin: 10px 0;
  height: 250px;
}

.caja-blanca-ej5y6 {
  background: rgba(255, 255, 255, 0.753);
}

/* EJERCICIO 11 */
.img-miniaturas {
  background-color: rgba(255, 255, 255, 0.521);
}

.fondo-subtitulo-cuadro {
  background-color: rgba(255, 255, 255, 0.795);
}

.fondo-parrafo-cuadro {
  background-color: rgb(134 201 255);
  padding: 20px;
}

.fondo-lista-cuadro {
  background-color: rgb(255, 255, 255);
}

.fondo-img-grande {
  background-color: rgba(255, 255, 255, 0.521);
}

.img-grande {
  margin-bottom: 50px;
}

.fondo-tabla {
  background-color: rgb(134 201 255);
}

.fondo-parrafo-final {
  background-color: rgb(209, 234, 255);
}
